/* Duplication table */
.duplicationContainer{
    display: inline-block;
    position:relative;
}
.duplicationStatus{
    position:absolute;
    bottom: 8px;
    right: 8px;
    width: 14px;
    height: 14px;
}
.checkDuplicateInput{
    padding-right: 20px;
}
.helpTextButton, .quickEditButton {
    display: inline-table;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    background-position: center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}


.duplicationStatus.loading {
        background-image: url('../../../custom/include/images/loading_small.gif');
}

.duplicationStatus.duplicated {
    background-image: url('../../../custom/include/images/unchecked.gif');
}

.duplicationStatus.verified {
    background-image: url('../../../custom/include/images/checked.gif');
}

#dialogDuplication {
    border: 1px solid #AFAFAE;
    margin-top: 5px;
    display: none;
}

#dialogDuplication #dialogTitle {
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #ffffff), color-stop(.02, #eeeeee), color-stop(1, #dfdfdf) );
    font-size: 14px;
    color: red;
    padding-top: 4px;
    text-shadow: 0px 1px #fff;
    padding: 5px;
}

#dialogDuplication #dialogTitle #btnCloseDialog {
	background-image: url('../../../themes/RacerX/images/dashlet-header-close.png');
    display: inline-block;
    width: 22px;
    height: 22px;
    float: right;
    margin-top: -3px;
    margin-right: -5px;
    cursor: pointer;
}

#dialogDuplication #criteria {
    padding: 5px;
    margin-bottom: 5px;
}

#dialogDuplication #dialogContent table {
    width: 100%;
}
#basic_search_link.collapsed {
    background-position: right -12px;

}

#basic_search_link.expanded {
    background-position: right 4px;
}
.stickytooltip {
    box-shadow: 5px 5px 8px #818181;
    -webkit-box-shadow: 5px 5px 8px #818181;
    -moz-box-shadow: 5px 5px 8px #818181;
    display: none;
    position: absolute;
    display: none;
    border: 5px solid black;
    background: white;
    z-index: 3000
}
.stickytooltip .stickystatus {
    background: black;
    color: white;
    padding-top: 5px;
    text-align: center;
    font: bold 11px Arial
}
#tooltip {
    position: absolute;
    z-index: 9999;
    color: #000;
    font-size: 10px;
    width: auto
}
#tooltip .tipBody {
    background-color: #FFFFFF;
    padding: 5px 5px 5px 15px;
    border: 1px solid;
    border-color: red;
    font-size: 12pt !important;
    border-collapse: collapse;
    border-radius: 3px
}