{sugar_getscript file="custom/include/javascripts/Selecttablelist/jquery.selectable-list.js"}

<div id="div_bookgift" style="display: none;">
    <table id="tblLevelConfig" >
        <thead>
            <tr><td ><button class="button" type="button" id="btnAddrow">Add</button></td></tr>
        </thead>
        <tbody id="tbodylLevelConfig">
            {$BOOK_NO}
            {$BOOK}
        </tbody>
    </table>   
</div>

<div id="div_partnership" style="display: none;">
    <table id="tblpa" >
        <thead>
            <tr><td ><button class="button" type="button" id="btnAdd">Add</button></td></tr>
        </thead>
        <tbody id="tbodypa">
            {$PA_NO}
            {$PA}
        </tbody>
    </table>   
</div>



