/*Fix bug bootstrap in sugar*/
#sugar_spot_search {
 width: 232px;   
}
table:not(.yui-calendar){
    border-spacing:1px !important; 
    border-collapse:separate !important; 
}
h4{
    font-weight: bold;
}
/*END: Fix bug bootstrap in sugar*/
.bookItem {
    display: flex;
    margin: 10px 0px;
    text-align:center;
}
.book_column {
    text-align:center;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: auto;
    margin-bottom: 0;
}

/*.dropdown-menu>.active>a,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a:hover
{
    color:#fff;
    text-decoration:none;
    background-color: #428bca;
    outline:0;
}   */
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
}

.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:hover small,.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:focus small
{
    color: rgb(53, 53, 53);
}
fieldset.fieldset-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}



