<table id="tblLevelConfig" >
    <thead>
        <tr><td ><button class="button" type="button" id="btnAddrow">Add</button></td></tr>
    </thead>
    <tbody id="tbodylLevelConfig">
        {$RELATIONSHIP_NO}
        {$RELATIONSHIP}
    </tbody>
</table>