<div id="payment_list_div">
    <table id="tblpayment" width="100%" border="1" class="list view">
        <thead>
            <tr>
                <th width="5%" style="text-align: center;"></th>
                <th width="10%" style="text-align: center;">Mã thanh toán </th>
                <th width="10%" style="text-align: center;">Loại </th>
                <th width="10%" style="text-align: center;">Ngày thanh toán </th>
                <th width="10%" style="text-align: center;">Hạn sử dụng </th>
                <th width="10%" style="text-align: center;">Tổng số tiền </th>
<!--                <th width="10%" style="text-align: center;">Tổng số giờ </th>  -->
                <th width="10%" style="text-align: center;">Tổng tiền còn lại </th>
<!--                <th width="10%" style="text-align: center;">Tổng số buổi lại </th>
                <th width="10%" style="text-align: center;">Tổng số giờ còn lại </th> -->
                <th width="15%" style="text-align: center;">Đơn giá </th>
                <th width="10%" style="text-align: center;">Nhân viên phụ trách </th>
            </tr>
        </thead>
        <tbody id="tbodypayment">
            <tr><td colspan="10" style="text-align: center;">No Payment Avaiable</td></tr>
        </tbody>
    </table>
</div>
