.nofi-Default {
    background-color: #777;
    cursor: pointer;
}
.nofi-Leads {
    background-color: #d9534f
}
.nofi-Contacts {
    background-color: #428bca
}
.nofi-Other {
    background-color: #777
}
.nofi-Warning {
    background-color: #5cb85c
}
.nofi-Tasks {
    background-color: #f0ad4e
}
.nofi-label {
    display: inline;
    padding: .3em .6em .3em;
    font-size: 90%;
    font-weight: 500;
    line-height: 1.8;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}
#celebs_notification td {
padding: 5px 5px 5px 5px;
border-bottom: 1px solid #dddfe2;
}
#celebs_notification tr.Unread {
background-color: #edf2fa;
}
#celebs_notification tr.Read {

}
.timestampContent {
color: #999;
font-size: 10px;
}

#dcmenuSugarCube .notifNoneCount{
    font-weight:bold;
    font-size:12px !important;
    color:#FFFFFF;
    position: relative;
    text-align: center;
    background-color: #1b1b1b;
    border-radius: 2px;
    width: 16px;
    cursor: pointer;
    padding: 1px;
    width: 24px;
    height:18px;
    padding-top:6px;
    top:8px;
    margin:0px 5px;
}