<tr class='row_tpl' {$DISPLAY}>
    <td align="center">
        <select name="levels[]" class="levels">
            {$LEVEL_OPTIONS}
        </select>
    </td>
    <td align="center">
        {if $IS_SET_HOUR == '1'}
        <input type="checkbox" name="is_set_hour" class="is_set_hour" checked="" value="{$IS_SET_HOUR}">
        {else}
        <input type="checkbox" name="is_set_hour" class="is_set_hour" checked="" value="{$IS_SET_HOUR}">
        {/if}
    </td>

    <td nowrap align="center">
        <input name="hours[]" value="{$HOURS}" class="hours" type="text" style="width: 70px;text-align: center;">
    </td>
    <td align='center'>
        <input name='jsons[]' value='{$JSON}' class='jsons' type='hidden'/>
        <input type="button" class='btn btn-danger btnRemove' value='Remove'/>
    </td>
</tr>